    <nav class="main-nav">
            <ul>
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="{{@blog.url}}/rss/index.rss"><i class="fa fa-rss"></i> Subscribe</a></li>
                <li><a href="{{@blog.url}}/about"><i class="fa fa-bookmark"></i> About</a></li>
				<li><a href="https://github.com/arranf"><i class="fa fa-github-square"</i> Github</a></li>
            </ul>
    </nav>
